*{
  padding: 0;
  margin:0;
}
/* universal changes */

h1{
  font-family: 'Montserrat', sans-serif;
  font-weight: 900;
}

p{
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
}

a{
  text-decoration: none;
  color: darkgray;
  transition: color 0.5s;
}

a:hover{
  color: gray;
}

/* containers */

#main_container{
  display: grid;
  min-height: 100vh;
  grid-template-columns: 1fr 0.75fr 5% 2.75fr 5%;
  grid-template-rows: 1fr 1.5fr 3fr max-content;
}

/* sidebar grids */

#index_sidebar_grid{
  grid-column: 1/2;
  grid-row: 1/5;
  display: grid;
  grid-template-columns: 0.8fr 0.25fr;
  grid-template-rows: 0.0439fr 1fr 0.05fr auto;
}

#communities_sidebar_grid{
  grid-column: 1/2;
  grid-row: 1/5;
  display: grid;
  grid-template-columns: 0.8fr 0.25fr;
  grid-template-rows: 0.058fr 1fr 0.05fr auto;
}

/* post flexbox */

#post_container{
  display: flex;
  flex-direction: column;
  align-content: space-between;
  padding:0px 250px 40px 40px;
}

/* body grid */

#index_body_grid{
  grid-column: 4/5;
  grid-row: 1/5;
  min-height: 100vh;
  display: grid;
  grid-template-columns: 0.5fr 2fr 0.5fr;
}

#communities_body_grid{
  grid-column: 4/5;
  grid-row: 1/5;
  min-height: 100vh;
  display: grid;
  grid-template-columns: 0.5fr 2fr 0.5fr;
  grid-template-rows: 0.05fr 0.1fr 1fr auto;
}

/* discover layout container */

#discover_container{
  grid-column: 2/3;
  grid-row: 3/4;
  display: flex;
  margin: 40px;
  justify-content: space-around;
  align-content: center;
}

/* post layout containers */

#posts_layout_container{
  margin: 60px;
  margin-top: 8px;
  grid-column: 2/3;
  display: block;
}

#index_posts_layout_container{
  margin-top: 60px;
}

/* community recommendations */

#communities_body_grid .communities{
  grid-column: 2/3;
  grid-row: 1/2;
  align-self: end;
  justify-self: center;
}

#communities_body_grid .discover{
  grid-column: 2/3;
  grid-row: 3/4;
  justify-self: center;
}

#community_display{
  grid-column: 2/3;
  grid-row: 2/3;
  display: flex;
  margin: 40px;
  justify-content: space-around;
  align-content: center;
}

/* main sections */

#s_img{
  grid-column: 1/2;
  grid-row: 1/4;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

#s_content_container{
  grid-column: 1/2;
  grid-row: 2/3;
  justify-self: center;
  align-self: end;
}

.nav{
  grid-column: 2/3;
  grid-row: 2/3;
}

/* side styling */

.s_content{
  display: inline-block;
  padding: 40px;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  font-weight: 500;
  color: white;
  text-shadow: 2px 2px 20px black;
}

/* nav styling */

nav{
  position: fixed;
}

#nav_header{
  display: flex;
  flex-direction: row;
  align-items: center;
}

#nav_header h3{
  font-family: 'Montserrat', sans-serif;
  font-weight: 900;
  margin-left: 5px;
}

#nav_header > img{
  width: 35px;
  height: 35px;
  border-radius: 100px;
}

nav > ul{
  list-style: none;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
}

ul li a{
  text-decoration:  none;
  color: black;
  padding: 0 40px 0 40px;
  margin-left: -30px;
  transition: margin-left 0.5s;
}

ul li a:hover{
  color: gray;
  margin-left: -20px;
}

#nav_footer{
  grid-column: 1/2;
  grid-row: 4/5;
  align-self: end;
}

footer{
  display: flex;
  flex-flow: row wrap;
  flex-direction: column;
  padding: 20px;
  font-family: 'Roboto', sans-serif;
  font-size: 11px;
  color: white;
}

/* community display styling */

.community_display_item1{
  width: 260px;
  height: 260px;
  min-width: 150px;
  min-height: auto;
  display: flex;
  align-items: center;
  justify-items: center;
  background: url(pictures/radish_button.jpg);
  border-radius:20px;
  transition: border-radius 0.4s ease-out;
}

.community_display_item2{
  width: 260px;
  height: 260px;
  min-width: 150px;
  min-height: auto;
  display: flex;
  align-items: center;
  justify-items: center;
  background: url(pictures/envi_button.jpg);
  border-radius:20px;
  transition: border-radius 0.4s ease-out;
}

.community_display_item3{
  width: 260px;
  height: 260px;
  min-width: 150px;
  min-height: auto;
  display: flex;
  align-items: center;
  justify-items: center;
  background: url(pictures/diy_button.jpg);
  border-radius:20px;
  transition: border-radius 0.4s ease-out;
}

.community_display_item1:hover, .community_display_item2:hover, .community_display_item3:hover{
  border-radius: 80px;
}

.community_display_item1 h3, .community_display_item2 h3, .community_display_item3 h3{
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  text-transform: capitalize;
  margin: 40px;
  color: white;
  text-shadow: 2px 2px 10px black;
}

/* post styling */

#full_post_body_header{
  font-weight: 700;
}

.post{
  display: flex;
  flex-direction: column;
  flex-flow: row wrap;
  margin: 60px;
}

.post img{
  max-width: 600px;
  max-height: 600px;
  object-fit: contain;
  margin: 40px;
}

.post h2{
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  text-transform: capitalize;
}

.post > p{
  color: black;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}

.post_footer{
  color: gray;
  font-size: 12px;
  margin: 10px;
}

/* search bar styling */

.search_bar{
  padding: 5px;
  padding-left: 45px;
  margin: 10px;
  margin-bottom: 25px;
  font-size: 16px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  border: none;
  border-bottom: 2px solid lightgray;
  background-image: url('search_icon.svg');
  background-position: 5px 2px;
  background-repeat: no-repeat;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.search_bar:focus{
  border-bottom: 2px solid gray;
}
